build/
.gradle
local.properties
.idea/
*.iml
.DS_Store
functiongraphic.psd
.classpath
.project
.settings
.vscode/
bin/
captures/
*.podspec

# docs
docs

/.bundle/
/vendor/*
.kotlin/

iosApp/iosApp.xcodeproj