name: Gradle Dependency Submission
on:
  push:
    branches:
      - develop

jobs:
  gradle-dependency-detection:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: |
            17

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Setup Gradle & Submit dependency graphs
        uses: gradle/actions/setup-gradle@v5
        with:
          dependency-graph: generate-and-submit